[submodule "DSC2015R/inst/visualization"]
	path = DSC2015R/inst/visualization
	url = https://github.com/everdark/ggplot2_lecture_dsc2015
[submodule "DSC2015R/inst/basic/swirl"]
	path = DSC2015R/inst/basic/swirl
	url = https://github.com/dboyliao/DSC2015_RBasic.git
[submodule "DSC2015R/inst/etl/slide"]
	path = DSC2015R/inst/etl/slide
	url = https://github.com/ntuaha/R_ETL_DSC_2015
[submodule "DSC2015R/inst/etl/swirl"]
	path = DSC2015R/inst/etl/swirl
	url = https://github.com/ntuaha/DSC_R_ETL_SWIRL_2015
